language: go
sudo: false
env:
  global:
    COVERALLS_TOKEN: HkQoxsX9LKKYv86j2NR7UviJZRnJT6nFF
go:
  - 1.6
before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/golang/lint/golint
  - go get github.com/GeertJohan/fgt
script:
  - go vet ./...
  #- fgt golint ./...
  - go test -v -coverprofile=coverage.out ./...
  - $HOME/gopath/bin/goveralls -service=travis-ci -coverprofile=coverage.out
services:
  - redis-server
